/* Main Container */
.register-container-main {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f9f9f9;
}

/* Register Container */
.register-container {
  text-align: center;
  background: #fff;
  padding: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.register-container img {
  height: 60px;
  margin-bottom: 20px;
}

.register-container h2 {
  margin-bottom: 20px;
}

/* Input Fields */
.input-field {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 25px;
  box-sizing: border-box;
}

.input-field:focus {
  outline: none;
  border-color: #8a2be2;
  box-shadow: 0 0 5px rgba(138, 43, 226, 0.5);
}

/* Register Button */
.register-button {
  padding: 10px 20px;
  background-color: #8a2be2;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
}

.register-button:hover {
  background-color: #5a1c9a;
}
