<div class="available_assignments">
    <div class="header">
        <img src="logo.png" alt="MarketStar Solutions Logo">
        <div>
            <h2>Welcome Sally</h2>
            <p>example writer</p>
        </div>
    </div>
    
    <div class="assignments">
        <h2>Available Assignments</h2>
        <div class="cards">
            <div class="card">
                <h3>Client A</h3>
                <p><strong>Topic:</strong> 1000 word blog about xxx</p>
                <p><strong>Due Date:</strong> 6/28/24</p>
                <button class="claim-button">Claim</button>
            </div>
            <div class="card">
                <h3>Client B</h3>
                <p><strong>Topic:</strong> 1000 word blog about xxx</p>
                <p><strong>Due Date:</strong> 8/1/24</p>
                <button class="claim-button">Claim</button>
            </div>
            <div class="card">
                <h3>Client A</h3>
                <p><strong>Topic:</strong> 1000 word blog about xxx</p>
                <p><strong>Due Date:</strong> 6/22/24</p>
                <button class="claim-button">Claim</button>
            </div>
            <div class="card">
                <h3>Client C</h3>
                <p><strong>Topic:</strong> 1000 word blog about xxx</p>
                <p><strong>Due Date:</strong> 7/20/24</p>
                <button class="claim-button">Claim</button>
            </div>
        </div>
    </div>
    <a href="dashboard.html" [routerLink]="['/dashboard']" class="back-link">Back to Dashboard</a>
</div>

