<div class="available_assignments">
    <app-top-nav [userName] = "'Sally'"></app-top-nav>
    <div class="assignments-container">
      <h2>Available Assignments</h2>
      <div class="loading" *ngIf="loading">
        <div class="loader"></div>
      </div>
      <div class="message" *ngIf="successMessage">{{successMessage}}</div>
      <div class="cards">
        <app-reusable-card  
        *ngFor="let assignment of availableAssignments"
        [clientName]="assignment.clientName"
        [blogTopic]="assignment.blogTopic"
        [dueDate]="assignment.dueDate ? (assignment.dueDate | date: 'mediumDate') : ''"
        [status]="assignment.status"
        [buttonText]="'Claim'"
        (buttonClick)="claimAssignment(assignment.id)">>
          
        </app-reusable-card>
      </div>
    </div>
  
    <a href="dashboard.html" [routerLink]="['/dashboard']" class="back-link">Back to Dashboard</a>
  </div>
  