<div class="writer-success-container">

    <div class="header">
        <img src="assets/images/marketStar_logo.png" alt="MarketStar Solutions Logo">
        <div>
            <h2>Welcome Sally</h2>
        </div>
    </div>

    <div class="writer-success">
        <h2>Writer Success</h2>
        <div class="buttons">
            <div class="button">Your blog "XX XXX" for Client A generated more than XXXX clicks to the site in X months</div>
            <div class="button">Your blog "XX XXX" for Client B achieved position 0 in X weeks</div>
        </div>
    </div>
    <a href="dashboard.html" [routerLink]="['/dashboard']" class="back-link">Back to Dashboard</a>
</div>