
<div class="my-assignments-container">
   <app-top-nav [userName] = "'Sally'"></app-top-nav>
    
    <div class="assignments">
        <h2>MY Assignments</h2>
        <div class="cards">
            <app-reusable-card  
                *ngFor="let assignment of assignments"
                [clientName]="assignment.clientName"
                [blogTopic]="assignment.blogTopic"
                [dueDate]="assignment.dueDate ? (assignment.dueDate | date: 'mediumDate') : ''"
                [status]="assignment.status" 
                [buttonText]="'Claim BY Sally'"       
                >         
             </app-reusable-card>
             <!-- [buttonText]="'Claim'" -->
        <!-- <div class="cards">
            <div class="card">
                <h3>Client A</h3>
                <p><strong>Topic:</strong> 1000 word blog about xxx</p>
                <p><strong>Due Date:</strong> 6/28/24</p>
                <div class="status">CLAIMED by SALLY</div>
            </div>
            <div class="card">
                <h3>Client A</h3>
                <p><strong>Topic:</strong> 1000 word blog about xxx</p>
                <p><strong>Due Date:</strong> 7/1/24</p>
                <div class="status">CLAIMED by SALLY</div>
            </div>
        </div> -->
    </div>
    <a href="dashboard.html" [routerLink]="['/dashboard']" class="back-link">Back to Dashboard</a>
</div>

