
<div class="my-assignments-container">
    <div class="header">
        <img src="logo.png" alt="MarketStar Solutions Logo">
        <div>
            <h2>Welcome Sally</h2>
        </div>
    </div>
    
    <div class="assignments">
        <h2>MY Assignments</h2>
        <div class="cards">
            <div class="card" *ngFor="let assignment of assignments">
                <h3>{{ assignment.clientName }}</h3>
                <p><strong>Topic:</strong> {{ assignment.blogTopic }}</p>
                <p><strong>Due Date:</strong> {{ assignment.dueDate | date: 'mediumDate' }} </p>
                <p><strong>Due Date:</strong> {{ assignment.status }} </p>
                <button class="claim-button">Claim</button>
            </div>
        </div>
        <!-- <div class="cards">
            <div class="card">
                <h3>Client A</h3>
                <p><strong>Topic:</strong> 1000 word blog about xxx</p>
                <p><strong>Due Date:</strong> 6/28/24</p>
                <div class="status">CLAIMED by SALLY</div>
            </div>
            <div class="card">
                <h3>Client A</h3>
                <p><strong>Topic:</strong> 1000 word blog about xxx</p>
                <p><strong>Due Date:</strong> 7/1/24</p>
                <div class="status">CLAIMED by SALLY</div>
            </div>
        </div> -->
    </div>
    <a href="dashboard.html" [routerLink]="['/dashboard']" class="back-link">Back to Dashboard</a>
</div>

