.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header img {
    height: 60px;
}

.header div {
    text-align: right;
}

.header div h2 {
    margin: 0;
}

.header div p {
    margin: 0;
    font-size: 14px;
}
