<div class="client-background-container">
    <div class="header">
        <img src="logo.png" alt="MarketStar Solutions Logo">
        <div>
            <h2>Welcome Sally</h2>
        </div>
    </div>

    <div class="client-backgrounds">
        <h2>Client Backgrounds</h2>
        <div class="buttons">
            <button class="button">Client A</button>
            <button class="button">Client B</button>
            <button class="button">Client C</button>
            <button class="button">Client E</button>
            <button class="button">Client F</button>
        </div>
    </div>
    <a href="dashboard.html" [routerLink]="['/dashboard']" class="back-link">Back to Dashboard</a>
</div>